<template>
    <div>
        <label class="text-gray-700 font-medium block">{{ title }}</label>
        <p><slot></slot></p>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            required: true
        }
    },
}
</script>

<style scoped>
p {
    @apply font-normal text-lg text-stone-600;
}
</style>
