<template>
    <div class="flex gap-3 container mx-auto" v-if="!notification">
        <div>Deploy the backend again to get the initial data back <a class="text-blue-600" target="_blank" href="https://api.render.com/deploy/srv-ci7jhgp8g3n3vm0kepp0?key=-qRX6ISl9es">here</a>, it takes about 1 minute to deploy</div>
        <button class="text-blue-600" @click="hideNotification">x</button>
    </div>
    <header class="main-header bg-rose-600 mb-5">
        <div class="container mx-auto flex flex-wrap py-5 px-6 md:px-0 flex-row items-center justify-between">
            <router-link :to="{ name: 'home' }" class="font-bold text-white">
                <h2>Foodahh!</h2>
            </router-link>
            <nav class="ml-auto flex flex-wrap items-center justify-center gap-5">
                <a @click="clearDishes" class="text-white">Clear</a>
                <button
                    class="bg-white px-4 py-1 rounded-md text-sm font-medium hover:bg-stone-200"
                    @click="$router.push({ name: 'addDish' })"
                >
                    Add Dish
                </button>
            </nav>
        </div>
    </header>
</template>

<script>
import { clearDishes } from '@/services/dishService'

export default {
    data() {
        return {
            notification: false,
        }
    },
    methods: {
        async clearDishes() {
            try {
                this.loading = true
                await clearDishes()
                this.$router.push({ name: 'home' })
                this.$emit('refreshDishes')
            } catch (error) {
                console.log(error)
            } finally {
                this.loading = false
            }
        },

        hideNotification() {
            this.notification = true
        }
    }
}
</script>