<template>
    <div class="max-w-screen-md mx-auto">
        <h1 class="font-bold mb-5">
            <span class="border-b-4 border-rose-400">Add a dish</span>
        </h1>

        <dish-form @dish-saved="$router.push({ name: 'viewDish', params: { id: $event._id } })" />
    </div>
</template>

<script>
import DishForm from '@/components/DishForm.vue'
export default {
    components: {
        DishForm
    }
}
</script>
