<template>
    <div v-if="loading" class="h-44 flex flex-col items-center justify-center">
        <h2>Loading...</h2>
        <h3>(Cold starting server - can take up to 1 minute)</h3>
    </div>

    <div class="dishes-container flex flex-col gap-6" v-else-if="dishes.length > 0">
        <div v-for="(category, key, i) in categorisedDishes" :key="i">
            <div class="dish-category text-2xl font-bold mb-2">
                {{ categoryLabel(key) }}
            </div>

            <div class="grid sm:grid-cols-2 md:grid-cols-3 grid-cols-1 gap-5">
                <single-dish
                    :key="_id"
                    :dish="dish"
                    class="dishes col-3"
                    v-for="(dish, _id) in category"
                />
            </div>
        </div>
    </div>

    <div v-else class="h-36 flex items-center justify-center">
        <h1>404 Dishes not found 😨</h1>
    </div>
</template>

<script>
import { getDishes } from '@/services/dishService';
import { getCategoryLabel } from '@/utils/labels';
import SingleDish from '@/components/SingleDish.vue';

export default {
    data() {
        return {
            dishes: [],
            loading: true,
        }
    },

    created () {
        this.getDishes();
    },

    computed: {
        categorisedDishes() {
            return this.dishes.reduce((acc, dish) => {
                if (!acc[dish.category]) {
                    acc[dish.category] = [];
                }
                acc[dish.category].push(dish);
                return acc;
            }, {});
        }

    },

    methods: {
        async getDishes() {
            try {
                const { data } = await getDishes();
                this.dishes = data.data;
            } catch (error) {
                console.log(error);
            } finally {
                this.loading = false;
            }
        },

        categoryLabel(category) {
            return getCategoryLabel(category);
        }
    },

    components: {
        SingleDish
    }
}
</script>
