<template>
    <form class="flex flex-col gap-8 bg-stone-50 p-5 border rounded-lg border-stone-100 hover:shadow-md" @submit.prevent="submit">
        <div>
            <label class="text-gray-700 font-medium block" for="name">Name</label>
            <input type="text" class="form-input" v-model="form.name" id="name" required>
        </div>

        <div>
            <label class="text-gray-700 font-medium block" for="description">Description (optional)</label>
            <textarea class="form-input resize-none" rows="3" v-model="form.description" id="description"></textarea>
        </div>

        <div class="flex gap-5">
            <div class="flex-1">
                <label class="text-gray-700 font-medium block" for="price">Price(€)</label>
                <input type="number" class="form-input" step="any" v-model.number="form.price" min="1" id="price" required>
            </div>

            <div class="flex-1">
                <label class="text-gray-700 font-medium block" for="wait-time">Wait Time (in minutes)</label>
                <input type="number" class="form-input" v-model.number="form.waitTimeInMinutes" id="wait-time" min="1" required>
            </div>
        </div>
        <div>
            <label class="text-gray-700 font-medium block" for="category">Category</label>
            <select class="form-input" v-model="form.category" id="category" required>
                <option value="">Select Category</option>
                <option
                    :label="category.label"
                    :value="category.value"
                    v-for="(category, i) in categories" :key="i"
                ></option>
            </select>
        </div>

        <div>
            <div class="text-gray-700 font-medium -mb-1">Meal Times (optional)</div>
            <span class="text-sm text-gray-400">Please leave blank to select all.</span>
            <div class="flex gap-5 mt-2">
                <label
                    :for="`meal-time-${mealTime.value}`"
                    :key="i"
                    v-for="(mealTime, i) in availability.TIME"
                    class="inline-flex items-center cursor-pointer"
                >
                    <input
                        :id="`meal-time-${mealTime.value}`"
                        type="checkbox"
                        class="form-checkbox"
                        :value="mealTime.value"
                        v-model="form.availability.time"
                    >
                    <span class="ml-2">{{  mealTime.label }}</span>
                </label>
            </div>
        </div>

        <div>
            <div class="text-gray-700 font-medium -mb-1">Serving Days (optional)</div>
            <span class="text-sm text-gray-400">Please leave blank to select all.</span>
            <div class="flex gap-5 mt-2">
                <label
                    :for="`serving-day-${servingDay.value}`"
                    :key="i"
                    v-for="(servingDay, i) in availability.DAYS"
                    class="inline-flex items-center cursor-pointer"
                >
                    <input
                        :id="`serving-day-${servingDay.value}`"
                        type="checkbox"
                        class="form-checkbox"
                        :value="servingDay.value"
                        v-model="form.availability.days"
                    >
                    <span class="ml-2">{{  servingDay.label }}</span>
                </label>
            </div>
        </div>

        <div class="inline-flex items-center cursor-pointer" v-if="isEditMode">
            <input type="checkbox" class="form-checkbox" v-model="form.outOfStock" id="out-of-stock">
            <label for="out-of-stock" class="ml-2">Not Available</label>
        </div>

        <button class="btn btn-primary" type="submit" :disabled="loading">
            Submit
        </button>
    </form>
</template>

<script>

import { AVAILABILITY, CATEGORIES } from '@/utils/constants';
import { saveDish } from '@/services/dishService';

export default {
    data() {
        return {
            loading: false,
            categories: CATEGORIES,
            availability: AVAILABILITY,
            form: {
                name: '',
                description: '',
                price: '',
                category: '',
                availability: {
                    days: [],
                    time: []
                },
                outOfStock: false,
                waitTimeInMinutes: ''
            }
        }
    },

    computed: {
        isEditMode () {
            return this.$route.params.id
        }
    },

    created () {
        if (this.isEditMode) {
            this.form = JSON.parse(JSON.stringify(this.$parent.dish))
        }
    },

    methods: {
        async submit() {
            try {
                this.loading = true
                const { data } = await saveDish(this.form)
                this.$emit('dish-saved', data.data)
            } catch (e) {
                console.log(e)
            } finally {
                this.loading = false
            }
        }
    }
}
</script>
