<template>
    <div class="max-w-screen-md mx-auto">
        <page-title>Edit {{ dish.name }}</page-title>
        <dish-form
            v-if="dish._id"
            @dish-saved="handleDishSaved"
            :dish="dish"
        />
    </div>
</template>

<script>
import DishForm from '@/components/DishForm.vue'
import { getDish } from '@/services/dishService'
import PageTitle from '@/components/layout/PageTitle.vue'

export default {
    data() {
        return {
            dish: {}
        }
    },

    created() {
        this.fetchDish()
    },

    methods: {
        async fetchDish() {
            try {
                const { data } = await getDish(this.$route.params.id)
                this.dish = data.data
            } catch (error) {
                console.log(error)
            }
        },

        handleDishSaved(dish) {
            this.dish = dish
            // whether the dish exists or not, we want to redirect to the viewDish page, a 404 will be handled there
            this.$router.push({ name: 'viewDish', params: { id: dish._id } })
        }
    },

    components: {
        PageTitle,
        DishForm
    }
}
</script>
