<template>
    <router-link
        :to="{ name: 'viewDish', params: { id: dish._id } }"
        class="border single-dish rounded-md flex px-3 py-3 hover:shadow-md hover:border-transparent group"
        :class="dish.outOfStock ? 'bg-stone-200 opacity-70' : 'bg-rose-50 hover:bg-rose-100 border-rose-300'"
    >
        <div class="dish-details flex flex-col justify-between flex-1">
            <div class="content flex flex-col gap-3">
                <h3 class="text-gray-800 flex justify-between relative">
                    <span class="border-b-4 border-transparent group-hover:border-rose-600 pb-0 transition-all leading-tight mr-10">{{ dish.name }}</span>
                    <span class="absolute right-0">
                        <router-link
                            class="transition-transform hidden block text-sm w-8 h-8 flex rounded-full p-2 hover:scale-125 group-hover:block"
                            :class="dish.outOfStock ? 'bg-stone-50 text-stone-500 hover:bg-stone-300' : 'bg-rose-50 text-rose-500 hover:bg-rose-200'"
                            :to="{ name: 'editDish', params: { id: dish._id } }"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                              <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z" />
                            </svg>
                        </router-link>
                    </span>
                </h3>
                <h4 class="price font-bold flex gap-3 items-center">
                    €{{  dish.price }}
                    <span class="text-xs bg-rose-300 font-medium px-2 py-0.5 rounded-md" v-if="!dish.outOfStock">{{ waitingTime }}</span>
                    <span class="text-xs bg-red-500 text-white font-medium px-2 py-0.5 rounded-md" v-else>Not Available</span>
                </h4>
                <div class="text-gray-500 text-sm">{{ dish.description }}</div>
            </div>
            <div class="flex flex-wrap mt-3 gap-2">
                <span
                    v-for="day in availabilityDays"
                    :key="day"
                    class="bg-white text-rose-700 rounded px-2 py-0.5 text-sm"
                >
                    {{ servingDaysLabel(day) }}
                </span>
                <span
                    v-for="time in availabilityTimes"
                    :key="time"
                    class="bg-white text-rose-700 rounded px-2 py-0.5 text-sm"
                >
                {{ mealTimeLabel(time) }}
            </span>
            </div>
        </div>
    </router-link>
</template>

<script>
import { getServingDaysLabel, getMealTimeLabel } from '@/utils/labels'
import { AVAILABILITY } from '@/utils/constants'

export default {
    props: {
        dish: {
            type: Object,
            required: true
        }
    },

    computed: {
        availabilityDays() {
            return this.dish.availability.days.length > 0
                ? this.dish.availability.days
                : AVAILABILITY.DAYS.map(day => day.value)
        },

        availabilityTimes() {
            return this.dish.availability.time.length > 0
                ? this.dish.availability.time
                : AVAILABILITY.TIME.map(time => time.value)
        },

        waitingTime() {
            if (this.dish.waitTimeInMinutes > 60) {
                return `${Math.floor(this.dish.waitTimeInMinutes / 60)}h ${this.dish.waitTimeInMinutes % 60}m`
            } else {
                return `${this.dish.waitTimeInMinutes}m`
            }
        }
    },

    methods: {
        servingDaysLabel(day) {
            return getServingDaysLabel(day)
        },

        mealTimeLabel(time) {
            return getMealTimeLabel(time)
        }
    }
}
</script>
