<template>
    <div class="single-dish-container">
        <div v-if="loading">
            <p>Loading...</p>
        </div>

        <div class="max-w-screen-md mx-auto" v-else-if="dish && dish._id">
            <page-title>{{ dish.name }}</page-title>
            <div class="flex flex-col gap-8 bg-stone-50 p-5 border rounded-lg border-stone-100 hover:shadow-md">
                <item-block title="Name">
                    {{ dish.name }}
                </item-block>

                <item-block title="Description">
                    {{ dish.description }}
                </item-block>

                <item-block title="Price">
                    €{{ dish.price }}
                </item-block>

                <item-block title="Wait Time (in minutes)">
                    {{ dish.waitTimeInMinutes }}
                </item-block>

                <item-block title="Category">
                    {{ categoryLabel(dish.category) }}
                </item-block>

                <item-block title="Meal Times">
                    <p
                        v-for="(mealTime, i) in mealTimes"
                        :key="i"
                        class="inline mr-3"
                    >
                        <span>{{ mealTimeLabel(mealTime) }}</span>
                    </p>
                </item-block>

                <item-block title="Serving Days">
                    <p
                        :key="i"
                        v-for="(servingDay, i) in servingDays"
                        class="inline mr-3"
                    >
                        <span>{{  servingDaysLabel(servingDay) }}</span>
                    </p>
                </item-block>

                <item-block title="Availability">
                    <p><span v-if="dish.outOfStock">Not </span>Available</p>
                </item-block>

                <div class="flex gap-5 justify-end">
                    <button class="btn btn-primary font-normal" @click="$router.push({ name: 'editDish', params: { id: dish._id } })">Edit</button>
                    <button class="btn bg-rose-200 font-normal" :disabled="loading" @click="deleteDish">Delete</button>
                </div>
            </div>
        </div>

        <div v-else class="h-36 flex items-center justify-center">
            <h1>404 Dish not found 🫣</h1>
        </div>
    </div>
</template>

<script>

import { AVAILABILITY, CATEGORIES } from '@/utils/constants'
import { getDish, deleteDish } from '@/services/dishService'
import { getCategoryLabel, getMealTimeLabel, getServingDaysLabel } from '@/utils/labels'
import PageTitle from '@/components/layout/PageTitle.vue'
import ItemBlock from "@/components/layout/ItemBlock.vue";

export default {
    components: {ItemBlock, PageTitle},
    data() {
        return {
            loading: true,
            categories: CATEGORIES,
            availability: AVAILABILITY,
            dish: {}
        }
    },

    computed: {
        mealTimes () {
            return this.dish.availability.time.length > 0
                ? this.dish.availability.time
                : AVAILABILITY.TIME.map(time => time.value)
        },

        servingDays () {
            return this.dish.availability.days.length > 0
                ? this.dish.availability.days
                : AVAILABILITY.DAYS.map(day => day.value)
        }
    },

    created () {
        this.fetchDish()
    },

    methods: {
        async fetchDish() {
            try {
                const { data } = await getDish(this.$route.params.id)
                this.dish = data.data
            } catch (error) {
                console.log(error)
            } finally {
                this.loading = false
            }
        },

        async deleteDish() {
            try {
                this.loading = true
                await deleteDish(this.dish._id)
                this.$router.push({ name: 'home' })
            } catch (error) {
                console.log(error)
            } finally {
                this.loading = false
            }
        },

        handleDishSaved(dish) {
            this.dish = dish
        },

        categoryLabel(category) {
            return getCategoryLabel(category)
        },

        mealTimeLabel(mealTime) {
            return getMealTimeLabel(mealTime)
        },

        servingDaysLabel(servingDays) {
            return getServingDaysLabel(servingDays)
        }
    },
}
</script>
