<template>
    <div>
        <main-header
            @refreshDishes="handleClearDishes"
        />
        <div class="application px-6 md:px-0 mx-auto container mb-10">
            <router-view :key="componentKey" />
        </div>
    </div>
</template>

<script>
import MainHeader from '@/components/layout/MainHeader.vue';

export default {
    data() {
        return {
            componentKey: 0
        }
    },
    methods: {
        handleClearDishes() {
            // this could be improved by using a state management library like Vuex
            this.componentKey += 1
        }
    },
    components: {
        MainHeader
    }
}
</script>
